hoot-services/src/main/resources/conf/local.conf
plugins/config.js
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.pyc
*.log
*.war
**/.classpath
**/.project
*.gcov
*.autosave
*~
*.kate-swp
aclocal.m4
autom4te.cache
BuildDate.txt
bin/
callgrind.*
conf/DatabaseConfigLocal.sh
conf/LocalHoot.json
conf/*.rf
conf/words*.sqlite
conf/WordsAbridged.sqlite
config.h.in
config.h
config.status
configure
Configure.pri
DbSchema.sql
.deps/
docs/*.epub
docs/*.pdf
docs/*-docinfo.xml
docs/*.png
docs/.*
docs/*.html
docs/*.xml
docs/*.text
docs/~*.docx
docs/Exploratory Funds Presentation.ppt
docs/docbook-xsl.css
docs/ref
docs/UserDocumentation.html
docs/output
docs/restDocs
docs/TestTop.asciidoc
docs/test.asciidoc
docs/test.sh
docs/wpsDocs
dum*
fouo
gdb
go
hoot-cmd/Makefile
hoot-core-test/Makefile
hoot-core/Makefile
hoot-core/src/main/cpp/hoot/core/VersionDefines.h
hoot-core/src/main/cpp/hoot/core/util/ConfigDefaults.h
hoot-core/src/main/cpp/hoot/core/util/ConfigOptions.h
hoot-core/src/main/cpp/hoot/core/proto/*.pb.h
hoot-core/src/main/cpp/hoot/core/proto/*.pb.cc
hoot-core/src/proto/
hoot-core/src/test/resources/cmd/**/*.stripped
hoot-core/src/test/resources/cmd/**/*.first
hoot-core/src/test/resources/cmd/**/*.failed
hoot-core-test/src/test/resources/cmd/**/*.stripped
hoot-core-test/src/test/resources/cmd/**/*.first
hoot-core-test/src/test/resources/cmd/**/*.failed
test-files/cmd/**/*.stripped
test-files/cmd/**/*.first
test-files/cmd/**/*.failed
hoot-pipes/tmp
hoot-streaming/tmp
hootenanny-*.tar.gz
HOOT_VERSION_FILE
HootConfig.h
.idea/*
*.iml
ingest/processed
ingest/upload
**/lib*.a
**/lib*.so.*
local/lib/
libtool
LocalConfig.pri
/Makefile
tbs/Makefile
tgs/Makefile
Makefile.in
Makefile.inc
Makefile.qmake
Output.osm
/output.osm
/output.pgm
plugins/*_schema.js
plugins/etds*_rules.js
plugins/emgcp*_rules.js
plugins/eggdm*_rules.js
plugins-local
translations-local
**/*.pro.user*
*.pro.user*
progress/
schema.dot
src/proto/*.pb.cc
src/proto/*.pb.h
stamp-h1
**/target/
test-files/*.db
test-output/**
**/test-output/*
tgs/src/main/cpp/tgs/TgsConfig.h
**/tmp/
todo.txt
**/build.info/**
**/.settings/**
*/build.info/*
*/.settings/*
**/build.info/*.*
**/.settings/*.*
/test-output
.project
matt_test
/upload
/src
/test-out
hoot-core/src/test/resources/nohup.out
nohup.out
/lib
docs/node_modules/
customscript/
**/buildInfo.json/**
*/buildInfo.json/*
**/buildInfo.json/*.*
scripts/MakeHootRelease.sh
BigReport.asciidoc
BigReport.pdf
areaHistogram.png
conflatedFeature.png
distancesHistogram.png
featureCountHistogram1.png
featureCountHistogram2.png
poiHistogram.png
summaryChart.png
tagCountHistogram1.png
tagCountHistogram2.png
uniqueHistogram.png
test-files/cmd/current
test-files/DcTigerRoadsHighwayExactMatchInputs.osm
data/
.vagrant/
inputFeatures.png
docs/developer/restDocs/
docs/developer/wpsDocs/
Vagrant.marker
test-files/services-system/node_modules
vagrant*.lock
vagrant*-*
MingsSuperAwesomePrompt.sh
id_rsa.pub
coverage/

###### hoot-services ignores
hoot-services/db.properties
hoot-services/src/main/webapp/WEB-INF/workspace/jdbc/WFS_Connection.xml
hoot-services/src/main/resources/build.info
hoot-services/src/main/resources/db/spring-database.xml
hoot-services/src/main/resources/conf/hoot-services.conf
hoot-services/src/main/resources/db/*.properties
######

compile
VagrantfileLocal
