hoot-services/src/main/resources/conf/local.conf
translations/config.js
conf/core/ConfigOptions.json
conf/services/conflationHoot2Ops.json
conf/services/importHoot2Ops.json
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.pyc
*.log
*.war
**/.classpath
**/.project
*.gcov
*.autosave
*.so
*~
*.kate-swp
aclocal.m4
autom4te.cache
BuildDate.txt
bin/
bw-output/
.cache/*
apndTest/*
callgrind.*
conf/database/DatabaseConfigLocal.sh
conf/LocalHoot.json
conf/dictionary/words*.sqlite
conf/dictionary/WordsAbridged.sqlite
config.h.in
config.h
config.status
configure
Configure.pri
DbSchema.sql
.deps/
docs/*.epub
docs/*-docinfo.xml
docs/**/__*.png
docs/.*
docs/*.html
docs/*.xml
docs/*.text
docs/~*.docx
docs/Exploratory Funds Presentation.ppt
docs/docbook-xsl.css
docs/ref
docs/UserDocumentation.html
docs/output
docs/restDocs
docs/TestTop.asciidoc
docs/test.asciidoc
docs/test.sh
docs/wpsDocs
docs/developer/CoreAPI
dum*
fouo
gcov/
gdb
go
hoot-cmd/Makefile
hoot-js/Makefile
hoot-test/Makefile
hoot-core-test/Makefile
hoot-core/Makefile
hoot-josm/Makefile
hoot-core/src/main/cpp/hoot/core/info/VersionDefines.h
hoot-core/src/main/cpp/hoot/core/util/ConfigDefaults.h
hoot-core/src/main/cpp/hoot/core/util/ConfigOptions.h
hoot-core/src/main/cpp/hoot/core/proto/*.pb.h
hoot-core/src/main/cpp/hoot/core/proto/*.pb.cc
hoot-core/src/proto/
hoot-core/src/test/resources/cmd/**/*.stripped
hoot-core/src/test/resources/cmd/**/*.first
hoot-core/src/test/resources/cmd/**/*.failed
hoot-core-test/src/test/resources/cmd/**/*.stripped
hoot-core-test/src/test/resources/cmd/**/*.first
hoot-core-test/src/test/resources/cmd/**/*.failed
test-files/cmd/**/*.stripped
test-files/cmd/**/*.first
test-files/cmd/**/*.failed
hoot-pipes/tmp
hoot-streaming/tmp
hootenanny-*.tar.gz
hootenanny-*_dirty
HOOT_VERSION_FILE
HootConfig.h
.idea/*
*.iml
**/lib*.a
**/lib*.so.*
local/lib/
libtool
LocalConfig.pri
/Makefile
tbs/Makefile
tgs/Makefile
Makefile.in
Makefile.inc
Makefile.qmake
missing
Output.osm
/output.osm
/output.pgm
.qmake.stash
translations-*
**/*.pro.user*
*.pro.user*
progress/
.scannerwork/
docs/schema.dot
src/proto/*.pb.cc
src/proto/*.pb.h
stamp-h1
**/target/
test-files/*.db
test-files/*
test-output/**
**/test-output/*
translations/templates/*
translations/checkSingleFeature.js
tgs/src/main/cpp/tgs/TgsConfig.h
**/tmp/
todo.txt
**/build.info/**
**/.settings/**
*/build.info/*
*/.settings/*
**/build.info/*.*
**/.settings/*.*
/test-output
.project
matt_test
/src
/test-out
hoot-core/src/test/resources/nohup.out
nohup.out
/lib
docs/node_modules/
**/buildInfo.json/**
*/buildInfo.json/*
**/buildInfo.json/*.*
scripts/MakeHootRelease.sh
BigReport.asciidoc
BigReport.pdf
areaHistogram.png
conflatedFeature.png
distancesHistogram.png
featureCountHistogram1.png
featureCountHistogram2.png
poiHistogram.png
summaryChart.png
tagCountHistogram1.png
tagCountHistogram2.png
uniqueHistogram.png
test-files/cmd/current
test-files/DcTigerRoadsHighwayExactMatchInputs.osm
.vagrant/
inputFeatures.png
docs/developer/restDocs/
docs/developer/wpsDocs/
Vagrant.marker
test-files/services-system/node_modules
vagrant*.lock
vagrant*-*
MingsSuperAwesomePrompt.sh
id_rsa.pub
coverage/
userfiles/
test-files/cases/**/out
test-files/cases/**/validated-output-report
test-files/cases/**/Output-validated.osm
.bundle/
vendor/
docs/package-lock.json

###### hoot-services ignores
hoot-services/.idea
hoot-services/db.properties
hoot-services/src/main/webapp/WEB-INF/workspace/jdbc/WFS_Connection.xml
hoot-services/src/main/resources/build.info
hoot-services/src/main/resources/db/spring-database.xml
hoot-services/src/main/resources/conf/hoot-services.conf
hoot-services/src/main/resources/db/*.properties
scripts/database/blank_osmapidb.sql
######

compile
VagrantfileLocal*
config.rpath
0
tbs/0
.DS_Store
.ccache
.ccache/**/*
.m2
.env
hoot.env
.bash_history
.config
.npm
.vscode
