HOOT_BUILD_CORE=0
HOOT_BUILD_HOOT_SERVICES_UI=0
HOOT_BUILD_JS_SCHEMA=0
HOOT_BUILD_TRANSLATION_SERVER=0
HOOT_BUILD_NODE_EXPORT_SERVER=0
HOOT_SERVICES_HOST=core-services
HOOT_SERVICES_PORT=8080
HOOT_NPM_INSTALL=0

