[Unit]
Description=Node Mapnik Server
After=syslog.target network.target

[Service]
Type=simple
User=SERVICE_USER
WorkingDirectory=HOOT_HOME/node-mapnik-server
ExecStartPre=/usr/bin/cd HOOT_HOME && source SetupEnv.sh && source conf/database/DatabaseConfig.sh
ExecStart=/usr/bin/node app.js hoot_style.xml 8000
ExecStop=/usr/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=default.target
