.*.swp
*.pyc
*.log
*.autosave
**/.classpath
**/.project
aclocal.m4
autom4te.cache
bin/
callgrind.*
configure
config.status
Configure.pri
data
docs/*.pdf
docs/.*
docs/Exploratory Funds Presentation.ppt
docs/~*.docx
docs/ref
docs/UserDocumentation.html
dum*
hoot-core/src/proto/
hoot-pipes/tmp
hoot-streaming/tmp
**/lib*.a
**/lib*.so.*
lib/
LocalConfig.pri
Makefile.qmake
output.osm
**/*.pro.user*
progress/
schema.dot
src/proto/*.pb.cc
src/proto/*.pb.h
**/target/
test-files/*.db
**/test-output/*
**/tmp/
tmp
pp-lib/src/main/java/pp/Configuration.java
pp-lib/src/main/java/pp/InputFormat.java
pp-lib/src/main/java/pp/InputSplit.java
pp-lib/src/main/java/pp/Plugins.java
pp-lib/src/main/java/pp/SWIGTYPE_p_std__string.java
pp-lib/src/main/java/pp/hoot.java
pp-lib/src/main/java/pp/hootJNI.java
