<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30" packages="hoot.services.log4j2" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}:%L - %m%n"/>
        </Console>
        <RollingFile name="RollingFile"
                     fileName="/var/log/tomcat6/hoot-services.log"
                     filePattern="/var/log/tomcat6/hoot-services-%d{MM-dd-yyyy}.log.gz"
                     append="true"
                     createOnDemand="true">
            <BurstFilter level="INFO" rate="16" maxBurst="100"/>
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}:%L - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="hoot.services" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Controls org.glassfish.jersey.filter.LoggingFilter's logging.  Set to 'info' for detailed
             logging of HTTP request/response messages received and sent by the Jersey Framework -->
        <Logger name="hoot.services.HootServicesJerseyApplication" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- By default logs only exceptions. Set to 'debug' to reveal more detailed logging -->
        <Logger name="hoot.services.JerseyEventLogger" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.deegree" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.querydsl" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.glassfish.jersey" level="INFO" additivity="false">
            <Filters>
                <BrokenPipeFilter/>
            </Filters>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>