<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
    </layout>
    <!-- #2378 -->
    <filter class="org.apache.log4j.varia.StringMatchFilter">
      <param name="StringToMatch" value="could not create Vfs.Dir from url" />
      <param name="AcceptOnMatch" value="false" />
    </filter>
    <!-- #4095 -->
    <filter class="org.apache.log4j.varia.StringMatchFilter">
      <param name="StringToMatch" value="Broken pipe" />
      <param name="AcceptOnMatch" value="false" />
    </filter>
  </appender>
  <appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="/var/log/tomcat6/hoot-services.log" />
    <param name="Append" value="true" />
    <param name="MaxFileSize" value="25MB" />
    <param name="maxBackupIndex" value="1" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
    </layout>
    <!-- #2378 -->
    <filter class="org.apache.log4j.varia.StringMatchFilter">
      <param name="StringToMatch" value="could not create Vfs.Dir from url" />
      <param name="AcceptOnMatch" value="false" />
    </filter>
    <!-- #4095 -->
    <filter class="org.apache.log4j.varia.StringMatchFilter">
      <param name="StringToMatch" value="Broken pipe" />
      <param name="AcceptOnMatch" value="false" />
    </filter>
  </appender>
  <logger name="org.deegree" additivity="false">
    <level value="error"/>
    <appender-ref ref="ConsoleAppender" />
    <!-- appender-ref ref="FileAppender" / -->
  </logger>
  <logger name="com.mysema.query" additivity="false">
    <level value="error"/>
    <appender-ref ref="ConsoleAppender" />
    <!-- appender-ref ref="FileAppender" / -->
  </logger>
  <logger name="org.springframework" additivity="false">
    <level value="error"/>
    <appender-ref ref="ConsoleAppender" />
    <!-- appender-ref ref="FileAppender" / -->
  </logger>
  <logger name="hoot.services" additivity="false">
    <level value="warn"/>
    <appender-ref ref="ConsoleAppender" />
    <!-- appender-ref ref="FileAppender" / -->
  </logger>
  <root>
    <level value="error" />
    <appender-ref ref="ConsoleAppender" />
    <!-- appender-ref ref="FileAppender" / -->
  </root>
</log4j:configuration>