[Unit]
Description=Node Export Server
After=syslog.target network.target

[Service]
Type=single
User=vagrant
WorkingDirectory=/home/vagrant/hoot/node-export-server
ExecStart=/usr/bin/npm start
ExecStop=kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=default.target
