h1,h2       { font-size:16px; font-weight:bold; margin:0; }
h3,h4,h5,h6 { font-size:14px; font-weight:bold; margin:0; }

a       { color:#7092ff; }
a:hover { color:#597be7; }
button {
  border:none;
  padding:0;
  margin:0;
  cursor:pointer;
  }
  button, .button { background-color:#999; color:#fff; }
  button.active, .button.active,
  button:hover, .button:hover { background-color:#333; color:#fff; }

.small,
.button     { font-size:12px; }
.button.big { font-size:14px; }

button.loud, .button.loud { background-color:#7092ff; }
button.loud:hover, .button.loud:hover { background-color:#597be7; }

.button {
  border-radius:4px;
  font-weight:bold;
  text-align:center;
  }
  form .button.active { border-radius:4px 4px 0 0; }

.button.fill-grey,
.button.fill-darken0 { color:#333; }

.button.fill-grey:focus,
.button.fill-grey:hover { background-color:#aaa; color:#333; }
.button.fill-darken0:focus,
.button.fill-darken0:hover { background-color:rgba(0,0,0,0.10); color:#333; }

#header       { height:60px; }
#app          { top:60px; }
#app .sidebar { min-width:240px; z-index:10; }

nav a:hover { background-color:#222; }

#jobs nav a:hover,
#app nav a:hover { background-color:#f8f8f8; }

.logo { line-height:60px; }
.logo span { color:#999; margin:0 5px; }
.logo:hover { color:#fff; background-color:#222; }

.icon.big   { line-height:40px; }
.icon       { line-height:20px; }
.icon, .icon:hover            { color:#444; }
.icon.dark, .icon.dark:hover  { color:#fff; }

.round        { border-radius:4px; }
.round-top    { border-radius:4px 4px 0 0; }
.round-right  { border-radius:0 4px 4px 0; }
.round-bottom { border-radius:0 0 4px 4px; }
.round-left   { border-radius:4px 0 0 4px; }
.unround      { border-radius:0;}

.dark   { color:#fff; }
.quiet  { color:rgba(68,68,68,0.5); }
.strong { font-weight:bold; }

.rcon:after,
.icon:before {
  background:transparent url(../img/sprite@2x.png) no-repeat 0 0;
  content:'';
  display:inline-block;
  width:20px;
  height:20px;
  vertical-align:top;
  -webkit-background-size:600px 120px;
          background-size:600px 120px;
  }
  .rcon.big:after,
  .icon.big:before {
    width:40px;
    height:40px;
    }
  .rcon.quiet:after,
  .icon.quiet:before {
    opacity:0.5;
    }
  .rcon.quiet:hover:before,
  .rcon.quiet.active:before,
  .icon.quiet:hover:before,
  .icon.quiet.active:before {
    opacity:1;
    }

.loading > * {
  background-image: url(../img/loading-spin.svg);
  background-repeat:no-repeat;
  background-position:0 0;
  display:inline-block;
  width:40px;
  height:40px;
  vertical-align:middle;
  }
.loading.icon,
.loading.rcon {
  background:transparent url(../img/loading-spin-dark.svg) no-repeat 0 0;
  }
  .loading.icon:before,
  .loading.rcon:after {
    display:none;
    }

.rcon.sprocket:after, .icon.sprocket:before                   { background-position:0 0; }
.rcon.big.sprocket:after, .icon.big.sprocket:before           { background-position:0 -20px; }
.rcon.dark.sprocket:after, .icon.dark.sprocket:before         { background-position:0 -60px; }
.rcon.dark.big.sprocket:after, .icon.dark.big.sprocket:before { background-position:0 -80px; }

.rcon.data:after, .icon.data:before                           { background-position:-40px 0; }
.rcon.big.data:after, .icon.big.data:before                   { background-position:-40px -20px; }
.rcon.dark.data:after, .icon.dark.data:before                 { background-position:-40px -60px; }
.rcon.dark.big.data:after, .icon.dark.big.data:before         { background-position:-40px -80px; }

.rcon.conflate:after, .icon.conflate:before                   { background-position:-80px 0; }
.rcon.big.conflate:after, .icon.big.conflate:before           { background-position:-80px -20px; }
.rcon.dark.conflate:after, .icon.dark.conflate:before         { background-position:-80px -60px; }
.rcon.dark.big.conflate:after, .icon.dark.big.conflate:before { background-position:-80px -80px; }

.rcon.down:after, .icon.down:before                           { background-position:-120px 0; }
.rcon.big.down:after, .icon.big.down:before                   { background-position:-120px -20px; }
.rcon.dark.down:after, .icon.dark.down:before                 { background-position:-120px -60px; }
.rcon.dark.big.down:after, .icon.dark.big.down:before         { background-position:-120px -80px; }

.rcon.info:after, .icon.info:before                           { background-position:-160px 0; }
.rcon.big.info:after, .icon.big.info:before                   { background-position:-160px -20px; }
.rcon.dark.info:after, .icon.dark.info:before                 { background-position:-160px -60px; }
.rcon.dark.big.info:after, .icon.dark.big.info:before         { background-position:-160px -80px; }

.rcon.trash:after, .icon.trash:before                         { background-position:-200px 0; }
.rcon.big.trash:after, .icon.big.trash:before                 { background-position:-200px -20px; }
.rcon.dark.trash:after, .icon.dark.trash:before               { background-position:-200px -60px; }
.rcon.dark.big.trash:after, .icon.dark.big.trash:before       { background-position:-200px -80px; }

.rcon.linestring:after, .icon.linestring:before               { background-position:-240px 0; }
.rcon.big.linestring:after, .icon.big.linestring:before       { background-position:-240px -20px; }
.rcon.dark.linestring:after, .icon.dark.linestring:before          { background-position:-240px -60px; }
.rcon.dark.big.linestring:after, .icon.dark.big.linestring:before  { background-position:-240px -80px; }

.rcon.marker:after, .icon.marker:before                       { background-position:-280px 0; }
.rcon.big.marker:after, .icon.big.marker:before               { background-position:-280px -20px; }
.rcon.dark.marker:after, .icon.dark.marker:before             { background-position:-280px -60px; }
.rcon.dark.big.marker:after, .icon.dark.big.marker:before     { background-position:-280px -80px; }

.rcon.poly:after, .icon.poly:before                           { background-position:-320px 0; }
.rcon.big.poly:after, .icon.big.poly:before                   { background-position:-320px -20px; }
.rcon.dark.poly:after, .icon.dark.poly:before                 { background-position:-320px -60px; }
.rcon.dark.big.poly:after, .icon.dark.big.poly:before         { background-position:-320px -80px; }

.rcon.check:after, .icon.check:before                         { background-position:-360px 0; }
.rcon.big.check:after, .icon.big.check:before                 { background-position:-360px -20px; }
.rcon.dark.check:after, .icon.dark.check:before               { background-position:-360px -60px; }
.rcon.dark.big.check:after, .icon.dark.big.check:before       { background-position:-360px -80px; }

.rcon.plus:after, .icon.plus:before                           { background-position:-400px 0; }
.rcon.big.plus:after, .icon.big.plus:before                   { background-position:-400px -20px; }
.rcon.dark.plus:after, .icon.dark.plus:before                 { background-position:-400px -60px; }
.rcon.dark.big.plus:after, .icon.dark.big.plus:before         { background-position:-400px -80px; }

.rcon.x:after, .icon.x:before                                 { background-position:-440px 0; }
.rcon.big.x:after, .icon.big.x:before                         { background-position:-440px -20px; }
.rcon.dark.x:after, .icon.dark.x:before                       { background-position:-440px -60px; }
.rcon.dark.big.x:after, .icon.dark.big.x:before               { background-position:-440px -80px; }

.rcon.folder:after, .icon.folder:before                       { background-position:-480px 0; }
.rcon.big.folder:after, .icon.big.folder:before               { background-position:-480px -20px; }
.rcon.dark.folder:after, .icon.dark.folder:before             { background-position:-480px -60px; }
.rcon.dark.big.folder:after, .icon.dark.big.folder:before     { background-position:-480px -80px; }

.rcon.up:after, .icon.up:before                               { background-position:-520px 0; }
.rcon.big.up:after, .icon.big.up:before                       { background-position:-520px -20px; }
.rcon.dark.up:after, .icon.dark.up:before                     { background-position:-520px -60px; }
.rcon.dark.big.up:after, .icon.dark.big.up:before             { background-position:-520px -80px; }

.rcon.disk:after, .icon.disk:before                           { background-position:-560px 0; }
.rcon.big.disk:after, .icon.big.disk:before                   { background-position:-560px -20px; }
.rcon.dark.disk:after, .icon.dark.disk:before                 { background-position:-560px -60px; }
.rcon.dark.big.disk:after, .icon.dark.big.disk:before         { background-position:-560px -80px; }

.palette .active:before {
  position:relative;
  top:10px;
  left:10px;
  opacity:0.5;
  }

.gold .thumbnail, .gold .loading      { background-color:#ffcc00; }
.orange .thumbnail, .orange .loading  { background-color:#ff7f2a; }
.violet .thumbnail, .violet .loading  { background-color:#ff5599; }
.purple .thumbnail, .purple .loading  { background-color:#e580ff; }
.blue .thumbnail, .blue .loading      { background-color:#5fbcd3; }
.teal .thumbnail, .teal .loading      { background-color:#5fd3bc; }

.fill-gold   { background-color:#ffcc00; }
.fill-orange { background-color:#ff7f2a; }
.fill-violet { background-color:#ff5599; }
.fill-purple { background-color:#e580ff; }
.fill-blue   { background-color:#5fbcd3; }
.fill-teal   { background-color:#5fd3bc; }
.fill-green  { background-color:#a7c973; }
.fill-light   { background-color:#f8f8f8; }
.fill-white   { background-color:#fff; }
.fill-dark    { background-color:#444; }
.fill-darken  { background-color:rgba(0,0,0,0.25); }
.fill-darken0 { background-color:rgba(0,0,0,0.05); }
.fill-darken1 { background-color:rgba(0,0,0,0.25); }
.fill-darken2 { background-color:rgba(0,0,0,0.50); }
.fill-darken3 { background-color:rgba(0,0,0,0.75); }

.modal {
  display:none;
  position:absolute; left:50%; top:10%; z-index:2001;
  margin:0 0 0 -25%;
  }
.mask {
  background:rgba(0,0,0,0.65);
  display:none;
  position:absolute; z-index:2000;
  width:100%; height:100%;
  top:0;
  }
.modal:target,
.modal:target ~ .mask { display:block; }

.status { font-weight:normal; }
.active + .hidden { display:block; }

/* Importing Interactions */
.controller {
  min-height:60px;
  }
  .controller .action {
    background-color:#f8f8f8;
    position:absolute;
    top:0;
    right:0;
    width:40px;
    height:60px;
    }
    .controller .action:hover   { background-color:#fff; }
    .controller .action.active  { background-color:#333; border-radius:0 4px 0 0; }

.palette a { width:40px; height:38px; }
.palette, .palette a { border-color:#444; }
.palette a:first-child { border-radius:4px 0 0 4px; }
.palette a:last-child { border-radius:0 4px 4px 0; border:none; }
.palette a:hover,
.palette a:focus,
.palette a.active { box-shadow:inset 0 0 0 4px rgba(0,0,0,0.25); }

/* Jobs Interactions */
#jobs nav > div {
  padding-right:80px;
  }
#jobs nav .action {
  width:40px;
  height:40px;
  }

/* Conflation */
.conflate-heading .thumb {
  margin:0 5px;
  }
.conflate-heading:after {
  background:rgba(0,0,0,0.10);
  content:'';
  position:absolute;
  display:block;
  top:18px;
  height:5px;
  width:10px;
  left:50%;
  margin-left:-5px;
  }
