.bigger     { font-size: 150%; }
.italic     { font-style: italic; }
.ml1        { margin-left: 1%; }
.mr1        { margin-right: 1%; }
.wd49       { float:left; width: 49%; }

.button.fill-transp {
  background-color:transparent;
}
.button.fill-transp:hover {
  background-color:#fff;
}
.auto-overflow {
  overflow: auto;
}
.results-list {
  max-height: 200px;
}
.search-result {
    margin-left:60px;
}
.searchtag {
  background:transparent url(../img/magnify.svg) no-repeat 4px 4px;
}
.maptag {
  background:transparent url(../img/parallel1.svg) no-repeat 4px 4px;
}
.removetag {
  background:transparent url(../img/prohibited1.svg) no-repeat 4px 4px;
}
.translate-icon {
  background-size: 50px 50px;
}
.wait {
  cursor: wait;
}
.attributes-count {
  display: inline-block;
  vertical-align: middle;
}
.arrowicon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.75;
}
.arrowicon:hover {
  opacity: 1;
}
.forwardarrow {
  background:transparent url(../img/keyboard53.svg) no-repeat;
}
.backarrow {
  background:transparent url(../img/keyboard54.svg) no-repeat;
}
.attributes-option {
  cursor: pointer;
}
.attributes-hover:hover {
  background-color:#f2f2f2;
}

